@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground: #11294D; */
  --foreground: #FFFFFF;
  --background: #C1CCD6;
  --primary: #7399C6;
  --secondary: #186ADE;
  --accent: #0D4EA6;
  --neutral: #11294D;
  --dark: #23254D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color: var(--foreground);
  background: var(--background);
}
